# Игнорируем виртуальное окружение
venv/
.venv/

# Игнорируем кеш питона
__pycache__/
*.pyc

# ВАЖНО: Игнорируем файл с паролями
.env

# Игнорируем базу данных (чтобы не слить юзеров)
*.db
*.sqlite
*.sqlite3

# Игнорируем настройки редакторов кода
.vscode/
.idea/
